@using Newtonsoft.Json
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    MortgageCalculatorAPI mortgageData = null;
    if (TempData["MortgageResult"] != null)
    {
        string mortgageJSON = TempData["MortgageResult"].ToString();
        mortgageData = JsonConvert.DeserializeObject<MortgageCalculatorAPI>(mortgageJSON);
    }

    //string homeJSON = TempData["CurrentHome"].ToString();
    //homeData = JsonConvert.DeserializeObject<Home>(homeJSON);
    //int homeAmount = homeData.Amount;

}
<div>
    <form asp-controller="MortgageCalculator" asp-action="CalculateMortgage" method="GET">
        <h1>Mortgage Calculator</h1>
        <input type="text" id="homeValue" name="homeValue" placeholder="Enter home value Here" />
        @*<input type="text" id="homeValue" name="homeValue" value="@homeAmount" disabled />*@
        <input type="text" id="downPayment" name="downPayment" placeholder="Enter down payment Here" />
        <input type="text" id="interestRate" name="interestRate" placeholder="Enter interest rate Here" />
        <input type="text" id="durationYears" name="durationYears" placeholder="Enter duration in years Here" />
        <input type="submit" value="Submit">
        @if (TempData["Result"] != null)
        {
            <p>@TempData["Result"]</p>
        }
        @if (TempData["Error"] != null)
        {
            @foreach (string error in (List<string>)TempData["Error"])
            {
                <p>@error</p>
            }
        }


        @if (mortgageData != null)
        {
            <h3>Monthly Payment</h3>
            <ul>
                <li><strong>Total:</strong> @mortgageData.MonthlyPayment.Total.ToString("C")</li>
                <li><strong>Mortgage:</strong> @mortgageData.MonthlyPayment.Mortgage.ToString("C")</li>
                <li><strong>Property Tax:</strong> @mortgageData.MonthlyPayment.PropertyTax.ToString("C")</li>
                <li><strong>HOA:</strong> @mortgageData.MonthlyPayment.HOA.ToString("C")</li>
                <li><strong>Annual Home Insurance:</strong> @mortgageData.MonthlyPayment.AnnualHomeIns.ToString("C")</li>
            </ul>

            <h3>Annual Payment</h3>
            <ul>
                <li><strong>Total:</strong> @mortgageData.AnnualPayment.Total.ToString("C")</li>
                <li><strong>Mortgage:</strong> @mortgageData.AnnualPayment.Mortgage.ToString("C")</li>
                <li><strong>Property Tax:</strong> @mortgageData.AnnualPayment.PropertyTax.ToString("C")</li>
                <li><strong>HOA:</strong> @mortgageData.AnnualPayment.HOA.ToString("C")</li>
                <li><strong>Home Insurance:</strong> @mortgageData.AnnualPayment.HomeInsurance.ToString("C")</li>
            </ul>

            <h3>Total Interest Paid</h3>
            <p>@mortgageData.TotalInterestPaid.ToString("C")</p>
        }
        else
        {
            <p>No data available. Please calculate a mortgage!</p>
        }


        @*<a asp-controller="Offer" asp-action="MakeOffer" asp-route-homeID="@homeData.HomeID" class="btn btn-secondary">Go Back To Offer</a>*@
    </form>
</div>
