@using Project4.Models.ViewModels
@model ScheduleShowingsViewModel
@*WHEN ATTEMPTING TO NAVIGATE TO THIS PAGE YOU MUST PROVIDE A HOME OBJECT IN THE VIEW MODEL*@
@{
    Layout = null;
    ViewData["Title"] = "Project 4 - Schedule Showing";
}

<!DOCTYPE html>
<html>
    <head>
        <title>@ViewData["Title"]</title>
        <meta charset="utf-8" />
    </head>
    <body>
    @if(Model.Home != null)
    {
        <form asp-controller="Showing" asp-action="ShowingRequest" method="POST">
            <input type="hidden" name="agent" value="@Model.Agent" />
            <h1>Schedule Showing</h1>
            <h2>Home Information</h2>
            <p>
                Company: @Model.Home.Agent.Company.Name<br/>
                Agent: @Model.Home.Agent.FirstName @Model.Home.Agent.LastName | Agent Email: @Model.Home.Agent.WorkEmail<br/>
                Home Address: @Model.Home.Address.ToString()<br/>
            </p>
            <h2>Client Information</h2>

            <label for="clientFirstName">First Name:</label>
            <input asp-for="Showing.Client.FirstName" id="clientFirstName" class="form-control" />

            <label for="clientLastName">Last Name:</label>
            <input asp-for="Showing.Client.LastName" id="clientLastName" class="form-control" />

            <label for="clientStreet">Street:</label>
            <input asp-for="Showing.Client.Address.Street" id="clientStreet" class="form-control" />

            <label for="clientCity">City:</label>
            <input asp-for="Showing.Client.Address.City" id="clientCity" class="form-control" />

            <label for="clientState">State:</label>
            <select asp-for="Showing.Client.Address.State" id="clientState" class="form-control">
                @foreach (string state in Enum.GetValues(typeof(States)))
                {
                    <option value="@state">@state</option>
                }
            </select>

            <label for="clientZipCode">Zip Code:</label>
            <input asp-for="Showing.Client.Address.ZipCode" id="clientZipCode" class="form-control" />

            <label for="clientPhoneNumber">Phone Number:</label>
            <input asp-for="Showing.Client.PhoneNumber" id="clientPhoneNumber" class="form-control" />

            <label for="clientEmail">Email:</label>
            <input asp-for="Showing.Client.Email" id="clientEmail" class="form-control" />

            <label for="showingTime">Showing Time:</label>
            <input asp-for="Showing.ShowingTime" id="showingTime" type="date" class="form-control" />

            <button id="btnSubmitShowing" type="submit">Schedule</button>
        </form>
    }
    else
    {
        <p>No Home Provided to make a showing for...</p>
    }
</body>
</html>
