@using Project4.Models.ViewModels
@model ShowingViewModel
@*WHEN ATTEMPTING TO NAVIGATE TO THIS PAGE YOU MUST PROVIDE A HOME OBJECT IN THE VIEW MODEL*@
@{
    Layout = null;
    ViewData["Title"] = "Project 4 - Schedule Showing";
}

<!DOCTYPE html>
<html>
    <head>
        <title>@ViewData["Title"]</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <form asp-controller="Showing" asp-action="ScheduleShowing" method="POST">
            <h1>Schedule Showing</h1>
            <h2>Home Information</h2>
            <p>
                Company: @Model.Home.Agent.Company.Name<br/>
                Agent: @Model.Home.Agent.FirstName @Model.Home.Agent.LastName | Agent Email: @Model.Home.Agent.WorkEmail<br/>
                Home Address: @Model.Home.Address.ToString()<br/>
            </p>
            <h2>Client Information</h2>
            <span>First Name:</span>
            <input asp-for="Showing.Client.FirstName" id="clientFirstName" type="text" />
            <span>Last Name:</span>
            <input asp-for="Showing.Client.LastName" id="clientLastName" type="text" />
            <span>Street:</span>
            <input asp-for="Showing.Client.Address.Street" id="clientStreet" type="text" />
            <span>City:</span>
            <input asp-for="Showing.Client.Address.City" id="clientCity" type="text" />
            <span>State:</span>
            <select  asp-for="Showing.Client.Address.State" id="clientState">
                @foreach(string state in Enum.GetValues(typeof(States)))
                {
                   <option value="@state">@state</option> 
                }
            </select>
            <span>Zip Code:</span>
            <input asp-for="Showing.Client.Address.ZipCode" id="clientZipCode" type="text" />
            <span>Phone Number:</span>
            <input asp-for="Showing.Client.PhoneNumber" id="clientPhoneNumber" type="text" />
            <span>Email: </span>
            <input asp-for="Showing.Client.Email" id="clientEmail" type="text" />
            <span>Showing Time: </span>
            <input asp-for="Showing.ShowingTime" id="showingTime" type="date" />
            <button id="btnSubmitShowing" type="submit">Schedule</button>
            @*VALIDATION ERRORS / SUCCESS MESSAGE*@
            @if (Model.Success)
            {
                <p>Showing Request Submitted!</p>
            }
        </form>
    </body>
</html>
