@using Project4.Models.ViewModels
@model ViewShowingsViewModel
@*WHEN ATTEMPTING TO NAVIGATE TO THIS PAGE YOU MUST PROVIDE A LIST OF SHOWINGS*@
@{
    Layout = null;
    ViewData["Title"] = "Project 4 - View Showing";
}

<!DOCTYPE html>
<html>
    <head>
        <title>@ViewData["Title"]</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>Showings</h1>
        @if (TempData["SuccessMessage"] != null)
        {
            <p>@TempData["SuccessMessage"]</p>
        }
        @if (TempData["ErrorMessage"] != null)
        {
            <p>@TempData["ErrorMessage"]</p>
        }
        @if(Model.Showings != null)
        {
            @foreach (Showing showing in @Model.Showings.List)
                {
                <form asp-controller="Showing" asp-action="ChangeStatus" asp-route-showingID="@showing.ShowingID" method="POST">
                    <div>
                        <h2>Showing</h2>
                        <span>Home: @showing.Home.Address.ToString()</span><br />
                        <span>Client Name: @showing.Client.FirstName @showing.Client.LastName</span><br />
                        <span>Showing Time: @showing.ShowingTime.ToShortDateString()</span><br />
                        <span>Time Requested: @showing.TimeRequestCreated.ToLongDateString()</span><br />
                        <span>Status</span>
                        <select name="showingStatus" id="showingStatus">
                            @foreach (ShowingStatus status in Enum.GetValues(typeof(ShowingStatus)))
                            {
                                if(showing.Status == status)
                                {
                                    <option value="@status" selected="selected">@status</option>
                                } else
                                {
                                    <option value="@status">@status</option>
                                }
                            }
                        </select>
                        <button type="submit" id="btnChangeStatus">Change Status</button>
                    </div>
                </form>
            }
        }
        else
        {
            <p>No showings...</p>
        }
</body>
</html>