@{
    ViewData["Title"] = "Project 4 - View Showing";
    Showings showings = (Showings)TempData["Showings"];
}

<!DOCTYPE html>
<html>
    <head>
        <title>@ViewData["Title"]</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>Showings</h1>
        @if (TempData["SuccessMessage"] != null)
        {
            <p>@TempData["SuccessMessage"]</p>
        }
        @if (TempData["ErrorMessage"] != null)
        {
            <p>@TempData["ErrorMessage"]</p>
        }
        @if(showings != null)
        {
            @foreach (Showing showing in @showings.List)
            {
                <form asp-controller="Showing" asp-action="ChangeStatus" method="POST">
                    <div>
                        <input type="hidden" name="ShowingID" value="@showing.ShowingID"/>
                        <h2>Showing</h2>
                        <span>Home: @showing.HomeID</span><br />
                        <span>Client Name: @showing.Client.FirstName @showing.Client.LastName</span><br />
                        <span>Showing Time: @showing.ShowingTime.ToShortDateString()</span><br />
                        <span>Time Requested: @showing.TimeRequestCreated.ToLongDateString()</span><br />
                        <span>Status</span>
                        <select name="ddlShowingStatus" id="showingStatus">
                            @foreach (ShowingStatus status in Enum.GetValues(typeof(ShowingStatus)))
                            {
                                if(showing.Status == status)
                                {
                                    <option value="@status" selected="selected">@status</option>
                                } else
                                {
                                    <option value="@status">@status</option>
                                }
                            }
                        </select>
                        <button type="submit" name="btnChangeStatus">Change Status</button>
                    </div>
                </form>
            }
        }
        else
        {
            <p>No showings...</p>
        }
</body>
</html>